
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
/* app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* Tambahan custom global style */
body {
  font-family: sans-serif;
}
